.head { 
 
} 

.topPic {
    width: 60%;
    height: 70%;
    display: block;
    margin: auto;
}


.employment {
    display: flex;
    margin: auto;
    width: 60%;
    height: 10%;
}

.employments {
    display: block;
    margin: auto;
}


.education {
    width: 60%;
    height: 10%;
    display: flex;
    margin: auto;
}

.educationlogo {
    display: block;
    margin: auto;
}


.projects {
    width: 60%;
    height: 10%;
    display: flex;
    margin: auto;
}
.project {
    width: 20%;
    height: 20%;
    display: block;
    margin: auto;
}

.techStack {
    width: 60%;
    height: 10%;
    display: flex;
    margin: auto;
}

.connections {
    width: 60%;
    height: 10%;
    display: flex;
    margin: auto;
}