@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: var(--color-indigo-500);
  color: white;
}

@media print {
  html {
    font-size: 12px;
  }

  body {
    background: #ffffff !important;
    color: #000000 !important;
  }
}
